<% provide(:title, "Home") %>

<div class='row home_container'>
    <% if logged_in? %>
        <% if flash[:request] %>
            <h1 class='receive_message'><%= flash[:receive_message] %></h1>
        <% end %>

        <div class='container'>
            <div class='request-message'>
                <h1>
                    <% if current_user.picture? %>
                        <%= image_tag current_user.picture.thumb50.url %>
                    <% else %>
                        <%= image_tag "/uploads/user/picture/thumb50_default.jpg" %>
                    <% end %>
                    <%= current_user.name %>
                </h1>
            </div>

            <!-- TODO Geolonia Mapへの変更（ただし、現在地の取得誤差を考慮） -->
            <!-- Google map -->
            <div id="map"></div>
            <script>
                // var map;
                // function initMap(lat, lng) {
                //     var position = getLocation();
                //     map = new google.maps.Map(document.getElementById('map'), {
                //         // TODO 中心位置を現在位置へと変更する。getLocationの返却値を設定する。
                //     center: {lat: lat, lng: lng},
                //     zoom: 17
                //     });
                // }
                // $(function(){
                //     let {lat, lng} = getLocationByHtml5;
                //     $.ajax({
                //         url: /get_location,
                //         type: 'POST',
                //         data: {lat: lat,
                //                 lng: lng}
                //         dataType: 'json',
                //         processData: false,
                //         contentType: false
                //     })
                //     .done(function(data){
                //         initMap(data.lat, data.lng);
                //     })
                //     .fail(function{
                //         alert('エラーが発生したため現在地を取得できませんでした');
                //     })
                //     .always(function(data){
                //         $('.send-btn').prop('disabled', false);
                //     });
                //     return false;
                // })

                // 現在地取得処理
                function initMap() {
                    // Geolocation APIに対応している
                    if (navigator.geolocation) {
                        // 現在地を取得
                        navigator.geolocation.getCurrentPosition(
                            // 取得成功した場合
                            function(position) {
                                // 緯度・経度を変数に格納
                                var mapLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                                // 登録ユーザーの所在地を変数に格納
                                var locations = gon.users_positions;
                                locations.unshift(["現在地", position.coords.latitude, position.coords.longitude]);
                                // マップオプションを変数に格納
                                var mapOptions = {
                                    zoom : 10,          // 拡大倍率
                                    center : mapLatLng  // 緯度・経度
                                };
                                // マップオブジェクト作成
                                var map = new google.maps.Map(
                                    document.getElementById("map"), // マップを表示する要素
                                    mapOptions         // マップオプション
                                );
                                //　マップにマーカーを表示する

                                var infowindow = new google.maps.InfoWindow();
                                var marker, i;
                                for (i = 0; i < locations.length; i++) {
                                    marker = new google.maps.Marker({
                                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                        map: map
                                    });

                                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                        return function() {
                                        // タグの表示部
                                        if(i==0){
                                            // 現在地の表示
                                            infowindow.setContent(locations[0][0])
                                        }else{
                                            // 登録ユーザーの表示
                                            infowindow.setContent(
                                                `<a href=/users/${i}>${locations[i][0]}</a><br>
                                                 <a href=/${gon.current_user_id}/baggages/request_form.${i}>リクエストを送る</a>`
                                            );
                                        }
                                        infowindow.open(map, marker);
                                        }
                                    })(marker, i));
                                }
                            },
                            // 取得失敗した場合
                            function(error) {
                                // エラーメッセージを表示
                                switch(error.code) {
                                case 1: // PERMISSION_DENIED
                                    alert("位置情報の利用が許可されていません");
                                    break;
                                case 2: // POSITION_UNAVAILABLE
                                    alert("現在位置が取得できませんでした");
                                    break;
                                case 3: // TIMEOUT
                                    alert("タイムアウトになりました");
                                    break;
                                default:
                                    alert("その他のエラー(エラーコード:"+error.code+")");
                                    break;
                                }
                            }
                        );
                    // Geolocation APIに対応していない
                    } else {
                        alert("この端末では位置情報が取得できません");
                    }
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCf-kPe1Xxxn8dUeYWJ8i2BpTpHVwN1AM&callback=initMap"
            async defer></script>
        </div>
    <% else %>
        <div class='home_picture_group'>
            <%= image_tag "enoshima_jinja.jpg", class: "enoshima_jinja, home_picture" %>
            <%= image_tag "shopping.jpg", class: "shopping, home_picture" %>
        </div>

        <div class='legend'>
            <h2>荷物を預かってお小遣い稼ぎしてみませんか？</h2>
            <h4>　外出時、アプリの登録ユーザー同士で荷物を預け合うことができるサービスになります。登録したユーザーは荷物を預けることと預かることのどちらも行え、そのマッチングを助けるアプリになります。</h4>
            <h3>取引の流れ</h3>
            <ol>
                <li>預けたいユーザーが地図から近い場所のユーザを探す</li>
                <li>リクエストフォームに必要事項を記入してリクエストを送る</li>
                <li>リクエストフォームで指定した時刻にユーザーの住所へ荷物を預ける</li>
                <li>買い物などをお楽しみ下さい！</li>
            </ol>
            <p>※ユーザー同士の金銭取引は当事者同士で解決して頂く形を取らせて頂きます。なお、当事者同士でのトラブルに関して当方は一切の責任を負わないことと致します。</p>
            <h3>こんなときに！</h3>
            <ul>
                <li>買い物して手荷物が邪魔になってしまったとき・・・</li>
                <li>コインロッカーが周りにないとき・・・</li>
                <li>自宅から遠出している最中に手荷物が邪魔になってしまったとき・・・</li>
            </ul>
        </div>
        <%= link_to "採用担当者様用ログイン", guest_login_path, class:"btn btn-primary", method: :post %>
        <%= link_to "新規登録", signup_path, class:"btn btn-primary" %>
    <% end %>
</div>