<!-- form_forに@userを指定し、labelでname属性を指定したものとmodelのカラム名が一致するとtext_fieldなどに自動的に入力される -->
<%= form_for(group, url: yield(:form_for_destination)) do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <h2>プロフィール</h2>
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>

    <%= f.label :sex, "性別" %>
    <%= f.select :sex,[["男", 1],["女", 0]]  %>

    <%= f.label :birthday, "誕生日" %>
    <%= f.date_select :birthday, class: "from_day", date_separator: "/" %>

    <%= f.label :email %>
    <%= f.email_field :email, class:"form-control" %>

    <%= f.label :password %>
    <%= f.password_field :password, class:"form-control" %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class:"form-control" %>

    <%= f.label :picture, 'picture' %>
    <%= f.file_field :picture, class:"form-control" %>

    <%= f.label :address, '住所' %>
    <%= f.text_field :address, class:"form-control" %>

    <h2>取扱情報</h2>
        <%= f.fields_for :receivable_baggages, @user.receivable_baggages.build do |b| %>
            <%#= b.check_box :large_scale_baggage, class: "baggage-type" %>
            <%#= b.label :large_scale_baggage, "大物" %>

            <%#= b.check_box :heavy_weight_baggage, class: "baggage-type" %>
            <%#= b.label :heavy_weight_baggage, "重量物" %>

            <%#= b.check_box :precision_machine_baggage, class: "baggage-type" %>
            <%#= b.label :precision_machine_baggage, "精密機械" %>

            <%#= b.check_box :dont_reverse_baggage, class: "baggage-type" %>
            <%#= b.label :dont_reverse_baggage, "天地無用荷物" %>

            <%#= b.check_box :refrigerated_baggage, class: "baggage-type" %>
            <%#= b.label :refrigerated_baggage, "冷蔵必須品" %>

            <%#= b.check_box :feezed_baggage, class: "baggage-type" %>
            <%#= b.label :feezed_baggage, "冷凍必須品" %>

            <%#= b.check_box :broken_article, class: "baggage-type" %>
            <%#= b.label :broken_article, "割れ物" %>

            <h3>取扱可能荷物サイズ</h3>
            <%= b.label :about_baggage_size_w, "荷物の横幅" %>
            <%= b.select :about_baggage_size_w, [["0〜30cm", 30],
                                                ["30cm〜60cm", 60], 
                                                ["60cm〜100cm", 100], 
                                                ["100cm〜160cm", 160]],
                                                {iclude_blank: true, selected: 30}, {class: "baggage-size"} %>

            <%= b.label :about_baggage_size_l, "荷物の奥行" %>
            <%= b.select :about_baggage_size_l, [["0〜30cm", 30],
                                                ["30cm〜60cm", 60], 
                                                ["60cm〜100cm", 80], 
                                                ["100cm〜160cm", 160]],
                                                {iclude_blank: true, selected: 30}, {class: "baggage-size"} %>

            <%= b.label :about_baggage_size_h, "荷物の高さ" %>
            <%= b.select :about_baggage_size_h, [["0〜30cm", 30],
                                                ["30cm〜60cm", 60], 
                                                ["60cm〜100cm", 80], 
                                                ["100cm〜160cm", 160]],
                                                {iclude_blank: true, selected: 30}, {class: "baggage-size"} %>
        <% end %>

    <%= f.submit yield(:button_text) , class:"btn btn-primary" %>
<% end %>