<% provide(:title, 'All users') %>

<h1>All users</h1>
<%= will_paginate %>

<div class="btn-group dropright">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ユーザーの絞込み
    </button>
    <div class="dropdown-menu">
        <!-- JpPferecture使用、県名全表示 -->
        <%# @prefecture_names.each do |pre| %>
            <%#= button_tag pre.name, class: "dropdown-item search_item", data: {state: pre.name} %>
        <%# end %>
        <% @prefecture_names.each do |pre| %>
            <%= button_tag pre, class: "dropdown-item search_item", data: {state: pre} %>
        <% end %>
        <% @city_names.each do |city| %>
            <%= button_tag city[0], type: "button", class: "dropdown-item search_item_detail list_item is-hide", data: {state: city[1], city: city[0]} %>
        <% end %>
        <div class="dropdown-divider"></div>
    </div><!-- /.dropdown-menu -->
</div><!-- /.btn-group -->

<ul class="users">
    <%= render @users %>
</ul>

<%= will_paginate %>