<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-8">
        <section class="user-show col-md-offset-5">
            <div class='user-show-top'>
                <% if @user.picture? %>
                    <%= image_tag @user.picture.thumb.url %>
                <% else %>
                    <%= image_tag "/uploads/user/picture/thumb_default.jpg" %>
                <% end %>
                <ul>
                    <li><%= @user.name %></li>
                    <li><%= @user.email %></li>
                    <li><%= "評価 #{@user.user_apparause_point}点" %></li>
                </ul>
            </div>
            <div class='user-info'>
                <h2>住所</h2>
                <!-- TODO 番地以下の情報は他ユーザーに表示しないようにする。代わりに取引時はlat,lngを参照させるようにする。 -->
                <h3><%= @user.address %></h3>
                <h2>Emailアドレス</h2>
                <h3><%= @user.email %></h3>
                <% if @user.id!=current_user.id %>
                    <%= link_to "リクエストを送る", request_form_path(current_user, @user) %>
                <% end %>
            </div>

        </section>
        <section class='stats'>
            <!-- relationships実装後に開放 -->
            <%#= render 'shared/stats' %>
        </section>
    </aside>
    <div class="col-md-8">
        <!-- relationships実装後に開放 -->
        <%#= render 'follow_form' if logged_in? %>
    </div>
</div>