<% if logged_in? %>
    <div class='col-md-2 slidebar'>
        <nav class='navbar navbar-fixed'>
            <section class="user_info">
                <div>
                    <h1 class="user-image">
                        <%= link_to current_user do %>
                            <% if current_user.picture? %>
                                <%= image_tag current_user.picture.thumb50.url %>
                            <% else %>
                                <%= image_tag "/uploads/user/picture/thumb50_default.jpg" %>
                            <% end %>
                        <% end %>
                        <%= current_user.name %>
                    </h1>
                    <% if request.fullpath != "/users/#{params[:id]}/edit" %>
                        <span><%= link_to "編集", edit_user_path(current_user) %></span>
                    <% end %>
                </div>
            </section>
            <section class="stats">
                <%#= render 'shared/stats' %>
            </section>
            <section class='menu-content'>
                <ul>
                    <% if request.fullpath == root_path %>

                    <% elsif (request.fullpath == users_path) || (request.fullpath == (users_path + "?page=#{params[:page]}")) %>
                        <%#= form_with(scope: :search, users_path, method: "get", local: true) do |f| %>
                            <%#= f.label :name, 'ユーザーを絞り込む' %>
                            <%#= f.text_field :name, value: @search_params[:name] %>

                            <%#= f.label :sex,  %>
                            <%#= submit_tag "探す" %>
                        <%# end %>

                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ユーザーの絞込み
                            </button>
                            <div class="dropdown-menu">
                                <!-- JpPferecture使用、県名全表示 -->
                                <%# @prefecture_names.each do |pre| %>
                                    <%#= button_tag pre.name, class: "dropdown-item search_item", data: {state: pre.name} %>
                                <%# end %>
                                <% @prefecture_names.each do |pre| %>
                                    <%= button_tag pre, class: "dropdown-item search_item", data: {state: pre} %>
                                <% end %>
                                <%= link_to "都道府県一覧", "#", class: "dropdown-item" %>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">その他リンク</a>
                            </div><!-- /.dropdown-menu -->
                        </div><!-- /.btn-group -->
                        <script>
                            // ここは変数定義をしない
                            var searchItem = '.search_item';   // 絞り込む項目を選択するエリア
                            var listItem = '.list_item';       // 絞り込み対象のアイテム
                            var hideClass = 'is-hide';         // 絞り込み対象外の場合に付与されるclass名
                            var activeClass = 'is-active';     // 選択中のグループに付与されるclass名
                            
                            $(function () {
                                // stateレベルでの絞り込み検索
                                $(searchItem).on('click', function(){
                                    // $(searchItem).removeClass(activeClass);
                                    // $(".search_item_detail").remove();
                                    var area = $(this).addClass(activeClass).data('state');
                                    city_areas = search_filter('state', area, 'city');
                                    city_areas = city_areas.filter(function (x, i, self) {
                                        return self.indexOf(x) === i;
                                    });
                                    for (var i=0; i<city_areas.length; i++) {
                                        $('div.dropdown-menu').append(`<button class="search_item_detail" data-city=${city_areas[i]}>${city_areas[i]}</button>`);
                                    }
                                });

                                // cityレベルでの絞り込み検索実装
                                $(".search_item_detail").on('click', function(){
                                    $(".search_item_detail").removeClass(activeClass);
                                    var area = $(this).addClass(activeClass).data('city');
                                    search_filter('city', area);
                                });
                            });

                            function search_filter(area_type, area, detail_area_type) {
                                $(listItem).removeClass(hideClass);
                                if(area == ''){
                                    return;
                                }
                                var detail_areas = [];
                                for (var i=0; i< $(listItem).length; i++) {
                                    var itemData = $(listItem).eq(i).data(area_type);
                                    
                                    if (itemData !== area) {
                                        $(listItem).eq(i).addClass(hideClass);
                                    }else{
                                        if(detail_area_type){
                                            var detail_area = $(listItem).eq(i).data(detail_area_type);
                                            detail_areas.push(detail_area);
                                        }
                                    }
                                }
                                if(detail_areas) return detail_areas;
                            }
                        </script>
                        
                        <input id='search_range'>
                        <button onclick="getLocationByHtml5()">現在地の取得</button>

                    <% elsif request.fullpath == user_path(current_user) %>
                        <li><%= link_to "マップ", root_path %></li>
                        <li><%= link_to "リクエスト一覧", "#" %></li>
                        <li><%= link_to "リクエスト依頼", "#" %></li>
                        <li><%= link_to "リクエスト依頼", "#" %></li>
                        <li><%= link_to "リクエスト依頼", "#" %></li>
                        <li><%= link_to "リクエスト依頼", "#" %></li>
                    <% end %>
                </ul>
            </section>
        </nav>
    </div>
<% end %>