<% if logged_in? %>
    <div class='col-md-3 slidebar'>
        <nav class='navbar navbar-fixed'>
            <section class="user_info">
                <h1 class="user-image">
                    <%= link_to current_user do %>
                        <% if current_user.picture? %>
                            <%= image_tag current_user.picture.thumb.url %>
                        <% else %>
                            <%= image_tag "/uploads/user/picture/thumb_default.jpg" %>
                        <% end %>
                    <% end %>
                    <%= current_user.name %>
                </h1>
                <% if request.fullpath != "/users/#{params[:id]}/edit" %>
                    <span><%= link_to "Edit", edit_user_path(current_user) %></span>
                <% end %>
            </section>
            <section class="stats">
                <%#= render 'shared/stats' %>
            </section>
            <section class='menu-content'>
                <ul>
                    <!-- TODO リンクの表示部分if文削除 -->
                    <li><%= link_to "Map", root_path if request.fullpath != root_path %></li>
                    <li><%= link_to "Request Form", request_form_path(current_user) if request.fullpath != request_form_path(current_user) %></li>
                    <li><%= link_to "Receives Request List", request_list_path(current_user) if request.fullpath != request_list_path(current_user) %></li>
                    <li><%= link_to "Received Request List", approval_requests_path(current_user) if request.fullpath != approval_requests_path(current_user) %></li>
                    <li><%= link_to "Sent Request List", intend_to_requests_path(current_user) if request.fullpath != intend_to_requests_path(current_user) %></li>
                    <div class="btn-group">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Help
                        </a>
                        <div class="dropdown-menu">
                            <li><%= link_to "Help Form", help_path(current_user) %></li>
                            <!-- TODO 未読数の表示機能はSESSION変数を使用してみる
                                        (session[:message_id:last] - current_user.messages_in_required.count) -->
                            <li><%= link_to "Help List", index_path(current_user) %></li>
                        </div><!-- /.dropdown-menu -->
                    </div><!-- /.btn-group -->

                    <!-- TODO 以下ボタンをクリック時に別ページに現在地周辺のユーザを表示するようにする -->
                    <%= form_tag(searches_area_search_path, method: 'get') do %>
                        <%= hidden_field_tag :latitude, id: 'current_latitude' %>
                        <%= hidden_field_tag :longitude, id: 'current_longitude' %>
                        <%= text_field_tag :range %>

                        <%= submit_tag 'Search', class: 'current_position_button' %>
                    <% end %>

                </ul>
            </section>
        </nav>
    </div>
<% end %>


<script>
    // ここは変数定義をしない
    var searchItem = '.search_item';   // 絞り込む項目を選択するエリア
    var listItem = '.list_item';       // 絞り込み対象のアイテム
    var hideClass = 'is-hide';         // 絞り込み対象外の場合に付与されるclass名
    var activeClass = 'is-active';     // 選択中のグループに付与されるclass名
    
    $(function () {
        // stateレベルでの絞り込み検索
        $(searchItem).on('click', function(){
            $(searchItem).removeClass(activeClass);
            var area = $(this).addClass(activeClass).data('state');
            search_filter('state', area);
        });

        // cityレベルでの絞り込み検索実装
        $(".search_item_detail").on('click', function(){
            $(".search_item_detail").removeClass(activeClass);
            var area = $(this).addClass(activeClass).data('city');
            search_filter('city', area);
        });

        // 現在地周辺のユーザーの検索
        $(".current_position_around").on('click', function(){
            let {lat, lng} = getLocationByHtml5();
            document.getElementById("current_latitude").value = lat;
            document.getElementById("current_longitude").value = lng;
        });
    });

    function search_filter(area_type, area) {
        $(listItem).removeClass(hideClass);
        if(area == ''){
            return;
        }
        for (var i=0; i< $(listItem).length; i++) {
            var itemData = $(listItem).eq(i).data(area_type);
            if (itemData !== area) {
                $(listItem).eq(i).addClass(hideClass);
            }
        }
    }
</script>