<% if logged_in? %>
    <div class='col-md-3 slidebar'>
        <nav class='navbar navbar-fixed'>
            <section class="user_info">
                <h1 class="user-image">
                    <%= link_to current_user do %>
                        <% if current_user.picture? %>
                            <%= image_tag current_user.picture.thumb.url %>
                        <% else %>
                            <%= image_tag "/uploads/user/picture/thumb_default.jpg" %>
                        <% end %>
                    <% end %>
                    <%= current_user.name %>
                </h1>
                <% if request.fullpath != "/users/#{params[:id]}/edit" %>
                    <span><%= link_to "Edit", edit_user_path(current_user) %></span>
                <% end %>
            </section>
            <section class="stats">
                <%#= render 'shared/stats' %>
            </section>
            <section class='menu-content'>
                <ul>
                    <li><%= link_to "Map", root_path if request.fullpath != root_path %></li>
                    <li><%= link_to "Request Form", request_form_path(current_user) if request.fullpath != request_form_path(current_user) %></li>
                    <li><%= link_to "Receives Request List", request_list_path(current_user) if request.fullpath != request_list_path(current_user) %></li>
                    <li><%= link_to "Received Request List", approval_requests_path(current_user) if request.fullpath != approval_requests_path(current_user) %></li>
                    <li><%= link_to "Sent Request List", intend_to_requests_path(current_user) if request.fullpath != intend_to_requests_path(current_user) %></li>
                    
                    <input id='search_range'>
                    <button onclick=getLocationByHtml5()>現在地の取得</button>

                </ul>
            </section>
        </nav>
    </div>
<% end %>


<script>
    // ここは変数定義をしない
    var searchItem = '.search_item';   // 絞り込む項目を選択するエリア
    var listItem = '.list_item';       // 絞り込み対象のアイテム
    var hideClass = 'is-hide';         // 絞り込み対象外の場合に付与されるclass名
    var activeClass = 'is-active';     // 選択中のグループに付与されるclass名
    
    $(function () {
        // stateレベルでの絞り込み検索
        $(searchItem).on('click', function(){
            $(searchItem).removeClass(activeClass);
            var area = $(this).addClass(activeClass).data('state');
            search_filter('state', area);
        });

        // cityレベルでの絞り込み検索実装
        $(".search_item_detail").on('click', function(){
            $(".search_item_detail").removeClass(activeClass);
            var area = $(this).addClass(activeClass).data('city');
            search_filter('city', area);
        });
    });

    function search_filter(area_type, area) {
        $(listItem).removeClass(hideClass);
        if(area == ''){
            return;
        }
        for (var i=0; i< $(listItem).length; i++) {
            var itemData = $(listItem).eq(i).data(area_type);
            if (itemData !== area) {
                $(listItem).eq(i).addClass(hideClass);
            }
        }
    }
</script>