<div class='container'>
    <% if current_user.admin? %>
        <h2>問い合わせ内容</h2>
        <h5>質問者</h5>
        <%= @inquiry.user.name %>
    <% else %>
        <h2>回答結果</h2>
    <% end %>

    <div>
        <h5>タイトル</h5>
        <%= @inquiry.title %>
    </div>
    <div>
        <h5>問い合わせ内容</h5>
        <% @contents.each_with_index do |content, idx| %>
            <%= @names[idx] %>
            <br>
            <%= content.content %>
            <br>
        <% end %>
    </div>

    <% if current_user.admin? %>
        <%= form_for @solution_content, url: solution_path do |f| %>
            <%= f.label :content, "回答" %>
            <%= f.text_area :content %>

            <%= f.submit "Send" %>
        <% end %>
    <% else %>
        <%= form_for @inquiry_content, url: inquiry_reply_path do |f| %>
            <%= f.label :content, "メッセージ" %>
            <%= f.text_area :content %>

            <%= f.submit "Send" %>
        <% end %>
    <% end %>
</div>
