<% provide(:title, "問い合わせ") %>

<h2>問い合わせ</h2>
<div class='container'>
    <%= form_for @inquiry, url: send_help_path do |f| %>
        <%= f.label :title %>
        <%= f.select :title, Inquiry.list_of_title %>

        <%= f.label :content %>
        <%= f.text_area :content %>

        <%= f.submit "Send" %>
    <% end %>
</div>